@import "./variables/variables.scss";

.styledBtn {
  border-radius: $borderRadius;
  font-size: medium;
  font-weight: bold;
  padding: 15px;
  margin-top: 25px;
  background-color: $greyColor;
  color: $lightColor;
  border: 0.1px solid $orangeColor;
  &:hover {
    background-color: $orangeColor;
    cursor: pointer;
    transform: $transform-scale;
  }
}
