@import "./variables/variables.scss";

.styledBtn {
  border-radius: $borderRadius;
  font-size: medium;
  font-weight: bold;
  padding: 10px 25px;

  background-color: transparent;
  color: $lightColor;
  border: 0.1px solid $orangeColor;

  &:hover {
    background-color: $orangeColor;
    cursor: pointer;
    transform: $transform-scale;
  }
}
@media only screen and (max-width: 600px) {
  .styledBtn {
    padding: 8px 8px;
    font-size: small;
    &:hover {
      transform: scale(1);
    }
  }
}
