@import "./variables/variables.scss";
.cancelBtn {
  align-self: flex-end;
  background-color: transparent;
  border: none;
  color: $lightColor;
  font-size: 20px;
  padding: 10px 10px 0px 0px;
  font-family: $font-family;
  &:hover {
    cursor: pointer;
    color: $orangeColor;
    transform: $transform-scale;
  }
}
