@import "./variables/variables.scss";
.deleteBtn {
  align-self: flex-end;
  background-color: $greyColor;
  border: none;
  color: $lightColor;
  font-size: 20px;
  padding: 10px 10px 0px 0px;
  font-family: $font-family;
  &:hover {
    color: $orangeColor;
    cursor: pointer;
    transform: scale(1.2);
  }
}
