@import "./variables/variables.scss";

.content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  h4 {
    padding-bottom: 10px;
  }
  .training-entry {
    h5 {
      color: $orangeColor;
      font-size: large;
    }
  }
  .exercise {
    font-size: medium;
    padding: 10px 0px;
    border-bottom: 1px solid $orangeColor;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .inputs {
    background-color: transparent;
    width: 100%;
    button {
      background-color: $orangeColor;
      font-size: small;
    }
    input {
      width: 70%;
    }
  }
  .list {
    small {
      font-style: italic;
    }
    li {
      display: grid;
      grid-template-columns: auto auto;
    }
  }
}

.addExerciseBtn {
  border-radius: $borderRadius;
  font-size: small;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
  background-color: $orangeColor;
  color: $lightColor;
  border: 0.1px solid $orangeColor;
  &:hover {
    cursor: pointer;
  }
}
@media only screen and (max-width: 600px) {
  .content {
    font-size: medium;
    padding: 0;
    gap: 0px;
    .inputs {
      background-color: transparent;
      width: 90%;
      textarea,
      input {
        margin: 5px;
        padding: 5px;
        margin-bottom: 10px;
        width: 70%;
      }
    }
    .exercise {
      font-size: small;
      padding: 5px 0px;
    }
  }
  .buttons {
    margin-bottom: 10px;
  }
  .addExerciseBtn {
    padding: 5px;
    margin-bottom: 0;
    &:hover {
      cursor: pointer;
    }
  }
}
