@import "./variables/variables.scss";

.planForm,
.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  left: 10px;
  transform: translate(10px, 0px);

  label {
    padding-top: 10px;
    margin-bottom: -5px;
    width: 60%;
  }
  input,
  textarea {
    background-color: $darkColor;
    border-radius: $borderRadius;
    border: none;
    color: $lightColor;
    font-family: $font-family;
    padding: 8px;
    margin: 8px;
    width: 70%;
    &:hover {
      cursor: pointer;
      border: 1px solid $orangeColor;
    }
  }
}

.newPlanModal {
  background-color: $greyColor;
  color: $lightColor;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  border-radius: $borderRadius;
  font-size: 105%;
  padding: 5px 10px 40px 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.dateInput::-webkit-calendar-picker-indicator {
  background-color: $orangeColor;
  border-radius: 5px;
}

.buttons {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

@media only screen and (max-width: 600px) {
  .newPlanModal {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    top: 0%;
    left: 0%;
    transform: translate(0, 0);
    font-size: large;
    padding: 5px;
  }
  .buttons {
    margin-bottom: 25px;
  }
  .planForm,
  .inputs {
    align-items: center;
    justify-content: flex-start;
    left: 0px;
    transform: translate(0px, 0px);
    label {
      text-align: center;
      padding: 0px;
      margin-bottom: -5px;
      margin-top: 15px;
    }
    input,
    textarea {
      padding: 5px;
      margin-bottom: 10px;
      width: 110%;
    }
  }
}
