@import "./variables/variables.scss";

.planForm {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  left: 10px;
  transform: translate(10px, 0px);
  label {
    margin-top: 20px;
    width: 60%;
  }
  input {
    background-color: $darkColor;
    border-radius: $borderRadius;
    border: none;
    color: $lightColor;
    font-family: $font-family;
    padding: 8px;
    margin-top: 0px;
    width: 80%;
    &:hover {
      cursor: pointer;
      border: 1px solid $orangeColor;
    }
  }
}

.newPlanModal {
  background-color: $greyColor;
  color: $lightColor;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  border-radius: $borderRadius;
  font-size: 105%;
  padding: 5px 10px 40px 10px;
  display: flex;
  flex-direction: column;
}
.dateInput::-webkit-calendar-picker-indicator {
  background-color: $orangeColor;
  border-radius: 5px;
}
