@import "./variables/variables.scss";

.content {
  display: flex;
  flex-direction: row;
  h4 {
    padding-bottom: 20px;
  }
  .exercise {
    font-size: medium;
    padding: 5px 0px;
    border-bottom: 1px solid $orangeColor;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .inputs {
    textarea {
      margin-top: 20px;
    }
    button {
      background-color: $orangeColor;
      font-size: small;
    }
  }
  .cancelBtn {
    font-size: small;
    padding: 4px;
    margin: 5px;
  }
}
